In [1]:
from tabulate import tabulate

In [5]:
import pandas as pd
from pprint import pprint

In [8]:
data_dict = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': [11, 12, 13, 14, 15],
}

_df = pd.DataFrame(data_dict)
_df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [17]:
print(tabulate(_df, headers='keys', tablefmt='github', floatfmt='.4f'))

|    |      A |       B |       C |
|----|--------|---------|---------|
|  0 | 1.0000 |  6.0000 | 11.0000 |
|  1 | 2.0000 |  7.0000 | 12.0000 |
|  2 | 3.0000 |  8.0000 | 13.0000 |
|  3 | 4.0000 |  9.0000 | 14.0000 |
|  4 | 5.0000 | 10.0000 | 15.0000 |