In [1]:
"""列生成パターン

特定の条件で列を作成し、既存のDataFrameの特定の位置に列追加する

"""

import pandas as pd

df = pd.DataFrame(columns=['A', 'B', 'C', 'D', 'E', 'F', 'G','H'])
df

Empty DataFrame
Columns: [A, B, C, D, E, F, G, H]
Index: []

In [13]:
new_col_J = [0, 1, 2]
new_df_J = pd.DataFrame(
    new_col_J, columns = ['J']
)
print(new_df_J.dtypes)
new_df_J

J    int64
dtype: object

   J
0  0
1  1
2  2

In [16]:
import pandas as pd

# 仮のDataFrame列生成関数
def create_J():
    new_col = [0, 1, 2]
    return pd.DataFrame(
        new_col,
        columns = ['J'],
    )


# 処理対象DataFrame
# 仮で空DataFrameを作成
df = pd.DataFrame(
    index=[],
    columns=['A', 'B', 'C', 'D', 'E', 'F', 'G','H'],
    )

# 何からの追加用DataFrame列を作成する
new_df_J = create_J()

# 既存のDataFrameの指定した位置に作成したDataFrame列を追加する
df = pd.concat([
    df[['A','B','C']],
    new_df_J,
    df[['D','E','F','G','H']],
    ],
    axis=1)

In [17]:
df

     A    B    C  J    D    E    F    G    H
0  NaN  NaN  NaN  0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  2  NaN  NaN  NaN  NaN  NaN